name: Pre-Release BookSource JSON

on:
  push:
    tags:
      - 'p*-*-*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip

    - name: Run booksource_combine script
      run: |
        python src/scripts/booksource_combine/booksource_combine.py
  
    - name: Extract tag name
      id: extract_tag
      run: echo "TAG_NAME=${GITHUB_REF#refs/tags/p}" >> $GITHUB_ENV

    - name: Create Release
      id: create_release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: src/BookSource/build/*.json
        tag_name: ${{ env.TAG_NAME }}
        name: BookSource_${{ env.TAG_NAME}}
        draft: false
        prerelease: true
        make_latest: false
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}